.react-calendar {
  border: unset;
  background-color: #fff;
  font-family: Segoe UI, sans-serif;
  width: 250px !important;
  height: max-content;
  padding: 10px;
  z-index: 9999;
  position: absolute;
  top: 6px;  
  border-radius: 4px;
  border: 1px solid #e5e5e5;
}
.react-calendar__navigation__prev2-button {
  display: none;
}
.react-calendar__navigation__next2-button {
  display: none;
}
.react-calendar__navigation {
  justify-content: center;
  align-items: center;
  margin-bottom: 0px  !important;
}

.react-calendar__navigation button:disabled {
  background-color: transparent !important;
}

abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: unset;
  text-decoration: unset;
  -webkit-text-decoration: unset;
  -webkit-text-decoration: unset;
  text-decoration: unset !important;
}
.react-calendar__navigation__prev-button {
  border-radius: 10px;
  position: relative;
  left: 10px;
}
.react-calendar__navigation__next-button {
  border-radius: 10px;
  position: relative;
  left: 15px;

}

.react-calendar__navigation button:enabled:hover, .react-calendar__navigation button:enabled:focus {
  background-color: transparent;
}

.react-calendar__navigation__prev-button:hover, 
.react-calendar__navigation__next-button:hover {
  background-color: none !important;
}

.react-calendar__navigation__label {
  color: #484848;
  font-family: Segoe UI;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}
.react-calendar__navigation__label:hover,
.react-calendar__navigation__label:focus {
  background-color: unset !important;
  border-radius: 50px;
}
.react-calendar__tile {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px !important;
  height: 34px !important;
  color: #1b2559;
  font-family: Segoe UI;
}
.react-calendar__month-view__weekdays {
  border-radius: 10px;
  margin-bottom: 6px;
  color: #9b9b9b;
  text-align: center;
  font-family: Segoe UI;    
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  pointer-events: none !important;
}
.react-calendar__tile--now {
  font-family: Segoe UI;
  background-color: white !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(82, 168, 236, 0.3);
  color: #1b2559 !important;
  border-radius: 50%;
}
.react-calendar__tile--active:hover {
  font-family: Segoe UI;
  background: #4681b6 !important;
  color: white !important;
  border-radius: 50%;

}

.react-calendar__tile--now:hover,
.react-calendar__tile--now:focus {
  font-family: Segoe UI;
  background: #4681b6 !important;
  color: white !important;
  border-radius: 50%;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  font-family: Segoe UI;
  background: #4681b6 !important;
  color: white !important;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #b0bbd5;
}
.react-calendar__tile--active,
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #4681b6 !important;
  font-family: Segoe UI;
  border-radius: 50px;
  color: white;
}
.react-calendar__tile--range,
.react-calendar__tile--range:enabled:hover,
.react-calendar__tile--range:enabled:focus {
  background: #4681b6;
}
.react-calendar__tile--rangeStart,
.react-calendar__tile--rangeStart:enabled:hover,
.react-calendar__tile--rangeStart:enabled:focus {
  background: #4681b6;
  color: white;
}
.react-calendar__tile--rangeEnd,
.react-calendar__tile--rangeEnd:enabled:hover,
.react-calendar__tile--rangeEnd:enabled:focus {
  background: #4681b6;
  color: white;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  font-family: Segoe UI;
  background-color: #4681b6 !important;
  color: white !important;
} 

.react-calendar__year-view__months__month {
  font-family: Segoe UI;
  border-radius: 5%;
}

.react-calendar__year-view__months__month:hover {
  font-family: Segoe UI;
  background-color: #4681b6 !important;
  color: white !important;
  border-radius: 5%;
}

.react-calendar__month-view__days__day {
  font-size: 14px !important
  ;
}

.react-calendar__month-view__days__day:hover {
  font-family: Segoe UI;
  background: RGBA(0, 0, 0, 0.16) !important;
  color: white !important;
  border-radius: 50%;
}


.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  font-family: Segoe UI;
  background-color: #4681b6 !important;
  color: white !important;
  border-radius: 50%;
}
