* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.group {
  position: relative;
  transform: translate(3px, -5px);
}

.vector {
  position: relative;
  transform: translate(-5px, 2px)
  
}

.custom-option {
  display: flex;
}

.react-select-1__input,  .react-select__input {
  border: none !important; 
  box-shadow: none !important; 
}

.react-select-1__dropdown-indicator:hover {
  background: transparent; 
  color: #262E39 !important; 
}

.tick {
  margin-right: 0.5rem;
  fill: #3366ff;
}
.selected {
  background-color: #F7FAFC;
  padding: 0;
  margin: 0;
}

.notSelected {
  padding-left: 22px;
}

